In [1]:
import sklearn.datasets
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import tensorflow as tf

In [2]:
#load the breast cancer data
breast_cancer = sklearn.datasets.load_breast_cancer()

#convert the data to pandas dataframe.
data = pd.DataFrame(breast_cancer.data, columns = breast_cancer.feature_names)
data["class"] = breast_cancer.target
data.head()

   mean radius  mean texture  ...  worst fractal dimension  class
0        17.99         10.38  ...                  0.11890      0
1        20.57         17.77  ...                  0.08902      0
2        19.69         21.25  ...                  0.08758      0
3        11.42         20.38  ...                  0.17300      0
4        20.29         14.34  ...                  0.07678      0

[5 rows x 31 columns]

In [3]:
from sklearn.preprocessing import MinMaxScaler
#perform scaling on the data.
X = data.drop("class", axis = 1)
Y = data["class"]
mnscaler = MinMaxScaler()
X = mnscaler.fit_transform(X)
X = pd.DataFrame(X, columns=data.drop("class",axis = 1).columns)
Y = Y.astype('float32')
X = X.astype('float32')
#train test split.
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.1, stratify = Y, random_state = 1)

# Perceptron

In [4]:
class Perceptron:
    def __init__(self, max_iters=100):
        self.max_iters = max_iters

    def fit(self, X, y):
        X, y = np.asarray(X), np.asarray(y)
        iters = 0
        
        X = np.concatenate((X, np.asarray([[1] * X.shape[0]]).T), axis=1)
        
        ω = np.random.random(X.shape[1])        
        
        for _ in range(self.max_iters):
            y_pred_all = []
            for idx in range(X.shape[0]):
                x_sample, y_sample = X[idx], y[idx]
                y_pred = int(np.sum(ω * x_sample) >= 0.5)
                if y_pred == y_sample:
                    pass
                elif y_pred == 0 and y_sample == 1:
                    ω = ω + x_sample
                elif y_pred == 1 and y_sample == 0:
                    ω = ω - x_sample
                
                y_pred_all.append(y_pred)
            
            iters += 1
            if np.equal(np.array(y_pred_all), y).all():
                break
                
        self.iters, self.ω = iters, ω
        
    def predict(self, X):
        X = np.asarray(X)
        X = np.concatenate((X, np.asarray([[1] * X.shape[0]]).T), axis=1)
        
        return (X @ self.ω > 0.5).astype(int)

In [5]:
perceptron_model = Perceptron()
perceptron_model.fit(X_train, Y_train)
y_pred = perceptron_model.predict(X_test)
accuracy_score(Y_test, y_pred)

0.9649122807017544